header {
    font-size: 40px;

}

body{
    background-color: black;
    text-align: center;
    font-family: sans-serif;
    font-style: oblique;
    color: gray;
}


.video video {
    top: 0;
    left: 0;
    right: 0;
    display: block;
    flex: content;
    border: none;
    height: auto;
    width: auto;
    
}


.logo img {
    height: auto;
    width: 1200px;
}

